@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,700');

body {
    font-family: 'Barlow Condensed', sans-serif;
}

.container {
    margin-top: 50px;
    padding-bottom: 20px;
}

.paginaTitulo {
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    font-size: 30px;
}

/* ------------- NAVBAR ------------- */

#navbar {
    position: fixed;
    z-index: 2;
    background-color: #333333;
    width: 100%;
    margin-top: -50px;
    font-family: 'Barlow Condensed', sans-serif;
}

#campo-titulo {
    text-align: center;
}

.nav-titulo {
    font-family: 'grand hotel', cursive;
    font-size: 40px;
    color: #8defc5;
    transition: 1s;
    margin-left: 15px;
}

    .nav-titulo:hover {
        color: #67f3b7;
        text-decoration: none;
    }

.store {
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 16px;
    color: #8defc5;
}

#campo-login {
    text-align: right;
    margin-top: 10px;
}

.nav-login {
    color: white;
    transition: 0.3s;
    margin-right: 10px;
}

    .nav-login:hover {
        color: #8defc5;
        text-decoration: none;
    }

.campo-drop {
    text-transform: uppercase;
}

.campo-pesquisa {
    border: none;
    border-bottom: 1px solid;
    outline: 0 none;
    background: none;
    color: white;
}

.search-box-button {
    background: none;
    border: none;
    padding: 3px;
    color: white;
    transition: 0.3s;
}

    .search-box-button:hover {
        cursor: pointer;
        color: #8defc5;
    }


.dropdown {
    padding-left: 15px;
    position: relative;
    display: inline-block;
    color: white;
}

.menu {
    margin-top: 4px;
    padding: 15px 10px 10px;
}

.dropbtn {
    background: none;
    border: none;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
}

    .dropbtn:hover {
        color: #8defc5;
        text-decoration: none;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: none;
}

.dropdown-content a {
    color: black;
    transition: 0.3s;
}

    .dropdown-content a:hover {
        font-weight: 700;
        text-decoration: none;
    }
/* ------------- CARDS ------------- */
.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    border: 0px solid #e7e7e7;
    padding: .5rem;
    transition: 1s;
    height: 450px;
}

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.card-image {
    height: 250px;
}

.card img {
    max-width: 200px;
    margin-left: 20%;
}

.card-body {
    text-align: center;
    height: 48px;
}

.card-title a {
    color: black;
    text-transform: uppercase;
}

    .card-title a:hover {
        text-decoration: none;
        color: black;
    }

.valorProduto {
    font-weight: 700;
    font-size: 20px;
}


#btnCard {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
}

    #btnCard a {
        color: white;
        text-transform: uppercase;
    }

        #btnCard a:hover {
            text-decoration: none;
        }

/* ------------- DETALHES ------------- */

.row img {
    height: 300px;
}

.nomeMarca {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.nomeProduto {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.descricaoProduto {
    font-family: 'Barlow Condensed', sans-serif;
}

.subtitulo {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}

.gradeTamanhos {
    font-family: 'Barlow Condensed', sans-serif;
    list-style: none;
}

    .gradeTamanhos li {
        display: inline;
        padding: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

        .gradeTamanhos li:hover, .gradeTamanhos li.active {
            background-color: mediumseagreen;
            color: white;
        }

.botoes {
    font-family: 'Barlow Condensed', sans-serif;
    width: 200px;
}

.btn {
    text-transform: uppercase;
    width: 100%;
}


/* ------------- LOGIN ------------- */

#btnEntrar {
    font-family: 'Barlow Condensed', sans-serif;
}

#btnNovoCadastro a {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
}

    #btnNovoCadastro a:hover {
        text-decoration: none;
    }

/* ------------- REGISTRAR ------------- */
/* ------------- ADMINISTRACAO ------------- */
#painelAdmin {
    margin-bottom: 5px;
    font-family: 'Barlow Condensed', sans-serif;
}

#novoProduto {
    text-align: right;
}

#btnNovoProduto a {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
}

    #btnNovoProduto a:hover {
        text-decoration: none;
    }
/* ------------- CARRINHO------------- */

#finalizarCompra {
    width: 200px;
}


/* ------------- RODAPÉ------------- */
footer {
    height: 250px;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #333333;
    color: white;
    margin-bottom: -50px;
    bottom: 0px;
}
