<div id="navbar">
    <div class="row justify-content-between">
        <div class="col-md-3">
            @Html.ActionLink("DiScarpe", "Index", "Home", new { @class = "nav-titulo" })<span class="store">Store</span>
        </div>
        <div class="col-md-3">
            <div class="menu">
                <div class="dropdown">
                    <a class="dropbtn" href="~/Feminino/Calcados">Feminino</a>
                    <div class="dropdown-content">
                        <a href="~/Feminino/Botas">Botas</a>
                        <hr />
                        <a href="~/Feminino/Sandálias">Sandálias</a>
                        <hr />
                        <a href="~/Feminino/Sapatilhas">Sapatilhas</a>
                        <hr />
                        <a href="~/Feminino/Tênis">Tênis</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn" href="~/Masculino/Calcados">Masculino</a>
                    <div class="dropdown-content">
                        <a href="~/Masculino/Botas">Botas</a>
                        <hr />
                        <a href="~/Masculino/Sandálias">Sandálias</a>
                        <hr />
                        <a href="~/Masculino/Tênis">Tênis</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="menuLinks">
            <div class="dropdown">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    @Html.TextBox("pesquisar", "", new { @class = "campo-pesquisa" })<button type="submit" class="search-box-button" title="Pesquisar"><span class="fa fa-search"></span></button>
                }
            </div>
            <div class="dropdown">
                |
            </div>
            <div class="dropdown">
                <a class="nav-login" href="~/Cliente/ListaDesejos" title="Lista de Desejos"><i class="fas fa-heart"></i></a>
            </div>
            <div class="dropdown">
                <a class="nav-login" href="~/Cliente/Carrinho" title="Carrinho de Compras"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="dropdown">
                <a class="nav-login" href="~/Home/Login">Login</a>
            </div>
            <div class="dropdown">
                <p id="nomeUsuario">@Session["Nome"]</p>
            </div>
            <div class="dropdown">
                <a href="@Url.Action("LogOut","Home", new { @class = "nav-login" })">Sair</a>
            </div>
        </div>
    </div>
</div>
